.sliderContainer {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .sliderContainer::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  
  .sliderItem {
    scroll-snap-align: start;
  }