.SocalMedia > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SocalMedia > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SocalMedia > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.SocalMedia > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SocalMedia > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SocalMedia > div > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
}
.SocalMedia > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SocalMedia
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #404040;
    font-weight: bolder;
    font-family: IranSans-b;
}
.socalmedia-importance
{
    font-family: IranSans-r;
}
.socalMedia-services > div
{
    width: 30%;
}
.socalMedia-services > div > span
{
    font-family: IranSans-b;
    color: #444444;
}
.socalMedia-services > div > p
{
    font-family: IranSans-r;
    text-align: center;
    color:#7A7A7A;
    line-height: 1.8;
}