@font-face {
  font-family: shabnam;
  src: url("./fonts/Shabnam/Shabnam.woff2");
}
@font-face {
  font-family: shabnamBold;
  src: url("./fonts/Shabnam/Shabnam-Bold.woff2");
}
@font-face {
  font-family: shabnamMedium;
  src: url("./fonts/Shabnam/Shabnam-Medium.woff2");
}
@font-face {
  font-family: shabnamThin;
  src: url("./fonts/Shabnam/Shabnam-Thin.woff2");
}
@font-face {
  font-family: shabnamLight;
  src: url("./fonts/Shabnam/Shabnam-Light.woff2");
}
@font-face {
  font-family: vasir;
  src: url("./fonts/Vasir/Vazirmatn-Medium.woff2");
}
@font-face {
  font-family: vasirbold;
  src: url("./fonts/Vasir/Vazirmatn-Bold.woff2");
}
@font-face {
  font-family: vasirLight;
  src: url("./fonts/Vasir/Vazirmatn-Light.woff2");
}
@font-face {
  font-family: vasirBlack;
  src: url("./fonts/Vasir/Vazirmatn-ExtraBold.woff2");
}
body {
  font-family: shabnam;
}
