.SaleReadyTemplate > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SaleReadyTemplate > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SaleReadyTemplate > div > div > div > h1,h2,h3,h4,h5,h6
{
    font-weight: bolder;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
.SaleReadyTemplate > div
{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.SaleReadyTemplate > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SaleReadyTemplate > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SaleReadyTemplate > div > div > div > p
{
    font-size:0.9rem;
    color: #636363;
    text-align: right;
    line-height: 2.1rem;
} 
.SaleReadyTemplate
{
    direction: rtl;
    overflow: hidden;
} 
b
{
    color: #000000;
    font-family: IranSans-b;
}